@charset "UTF-8";

/* Top Nav */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
  text-align: right;
}

.topnav a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #05C4FC;
  ;
}



.Paul_Simon{
   width: 720px;
   text-align: center;
}

body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 500;
}

.footer_banner {
	background-color: #8DDCF8;
	padding-top: 1px;
	padding-bottom: 20PX;
	padding-left: 48px;
	padding-right: 48px;
	margin-bottom: 0px;
}
.Signup_Title{
	padding-top: 20px;
	padding-bottom: 15px;
}

.Email_Field{
	padding-bottom: 15px;
}

